<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIFF App</title>
    <link rel="stylesheet" href="../static/css/gift.css">
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js" crossorigin="anonymous"></script>    
</head>
<body>
    <h1>LINEギフト一覧</h1>
    <div>
        {% for gift in gifts %}
            {% set price = gift.to_dict()['price'] | int %}
            {% if min_price <= price and price <= max_price %}
                <div class='contents'>
                    <h2>{{ gift.to_dict()['name'] }}</h2>
                    <img src="{{ gift.to_dict()['image_url'] }}" alt="{{ gift.to_dict()['name'] }}" width="300">
                    <p>価格: ¥{{ gift.to_dict()['price'] }}</p>
                    <a href="{{ gift.to_dict()['gift_url'] }}" class='button-link' target="_blank">このギフトを送る</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>
